@import '../../styles.scss';

.titular-container{
    margin-left: 6em; 
    width: 400px;
    height: 300px;
    margin-right: 10em;
    
    .big-title{
        color: var(--second);
        font-size: 3.5em;
    }
    .line{
        width:30em;
        background: var(--second);
        border: 0;
        height: 2px;
        margin-top: 1em;
        margin-bottom: 1.5em;
    }

    .text{
        font-size: .9em;
    }
}