@import '../../styles.scss';

.titular-container{
    margin-left: 6em; 
    width: 400px;
    height: 300px;
    margin-right: 10em;
    color: var(--second);
    
    .big-title{
     font-size: 3.5em;
    }
    .line{
        width:30em;
        background: var(--second);
        border: 0;
        height: 2px;
        margin-top: 1em;
        margin-bottom: 1.5em;
    }

    .text{
        font-size: .9em;
    }

    @media (max-width: 768px) {

        .titular-container{
            margin-right: 0;
            margin-left: 0;
            width: auto;
    
            .line{
                width: auto;
            }
        }
    
    
    }
}


