@import '../../styles.scss';

.Titular2right-container{
    margin-left: 6em; 
    width: 500px;
    height: auto;
    margin-right: 16em;
    margin-top:10%;
    margin-bottom: 20%;
    color: var(--second);
    
    .big-title{
        font-size: 3.5em;
        margin-bottom: 20px;
        text-align:right ;
    }
    
    .text{
        font-size: .9em;
        padding-right: 150px;
        text-align:right ;
        
    }
}

.img-background2{
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    margin-left: 300px;
}