@import '../../styles.scss';  

.normal-button{
    width: 80px;
    height: 30px;
    border: solid 1px var(--second);
    background: none;
    box-shadow:0 1px 1px var(--second) ;
    transition-duration: .2s;
    color: var(--second);
    

    a{
      text-decoration: none;
      color: var(--second);
      
    }
}


.normal-button.active,
.normal-button:hover,
.normal-button:focus {
  background-color: var(--second);
  color: var(--principal);
  outline: none;
  
}