.home-container{
    display: flex;

    .left{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .left-llistat{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 50%;
    }

    .right{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        color: var(--second);
    }

    
}

.contact-container{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}