@import '../../styles.scss';

.map-container{
    max-width: 30%;
    max-height: 30%;
    min-width: 330px;
    margin-top: 4em;
    margin-left: 6em;
    margin-bottom: 3em;

    .hover-popUp{
        height: 270px;
        width: 200px;
        border: solid 2px var(--second);
        background-color: var(--principal);
        color: var(--second);
        padding: 10px;

        .pop-buttons{
            margin-top: 12px;
            .pop-singel-button{
                margin-right: 5px;
            }
        }

        .img-container{
            width: auto;
            height: 40%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            border: solid 1px var(--second);
            margin-bottom: 10px;
        }
        .fine-line{
            width: 100%;;
            background: var(--second);
            border: 0;
            height: 1px;
            margin-top: 5px;
        }

        .desc{
            font-size: 8pt;
        }
    }



        .hoverlist{
            fill: var(--principal);
            stroke: var(--principal);
            stroke-width: 10px;
            transition-duration: 0.5s;
            
        }

   
}

