@import '../../styles.scss';

.footer{
    display: flex;
    justify-content: space-between;
    align-content: center;
    min-height: 26px;
    width: 100%;
    background-color: $principal;
    margin-top: auto;

    .a-footer{
        font-size: 10pt;
    }

    .a-footer2{
        font-size: 9pt;
    }

}