
@font-face {
    font-family: 'NeueMachina_light';
    src: url('./fonts/NeueMachina-Light.otf');
    font-weight: 100;
}

@font-face {
    font-family: 'NeueMachina_regular';
    src: url('./fonts/NeueMachina-Regular.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'NeueMachina_bold';
    src: url('./fonts/NeueMachina-Ultrabold.otf');
    font-weight: 900;
}


$principal: #E5E3D1;
$second: #262423;

$principal-dark: #0E3142;
$second-dark: #D4A68F;




.light{
    font-family: 'NeueMachina_light';
    font-size: 1em;
}
.regular{
    font-family: 'NeueMachina_regular';
    color: var(--second);

}
.bold{
    font-family: 'NeueMachina_bold';
    font-size: 1em;
}

.done-container{
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;

    .pregunta{
        font-size: 14pt;
        margin-bottom: 10px;
    }
}